:root {

  --spg-100: 0.5rem;
  --spg-200: 1rem;
  --spg-300: 1.5rem;
  --spg-400: 2rem;
  --spg-700: 3.5rem;
  --spg-1000: 5rem;
  --spg-1300: 6.5rem;
  --spg-1600: 8rem;
  --spg-2000: 10rem;
  --spg-2200: 11rem;
  --spg-2300: 11.5rem;     

  --clr-white: #FFFFFF;
  --clr-black: #000000; 
  --clr-green: #A4FFAF;
  --clr-red: #F64A4A;
  --clr-orange: #FB7C58;
  --clr-yellow: #F8CD65;
  --clr-grey-950: #08070B;
  --clr-grey-900: #14131B;
  --clr-grey-850: #18171F;
  --clr-grey-800: #24232C;
  --clr-grey-700: #54535B;
  --clr-grey-600: #817D92;
  --clr-grey-200: #E6E5EA;
  --clr-gradient: linear-gradient(var(--clr-grey-900), var(-clr-grey-950));

  --text-1: 2.625rem;
  --text-2: 2rem;
  --text-3: 1.5rem;
  --text-4: 1.25rem;
}

* ,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "JetBrainsMono";
  src:
    url("./assets/fonts/static/JetBrainsMono-Bold.ttf");
}

body {
  line-height: 1.3;
  font-family: "JetBrainsMono", monospace;
  background-color: var(--clr-grey-950);
  min-height: 100svh;
  min-height: 100vh;
  padding-inline: var(--spg-300);

  display: grid;
  place-content: center;
}

p {
  padding: 0;
  margin: 0;
}

header {
  margin-block-end: var(--spg-200);
}

.uppercase {
  text-transform: uppercase;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.flow > *+* {
  margin-block-start: var(--flow-gap, var(--spg-400));
}

.password-strength {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

li {
  width: 0.625rem;
  height: 1.75rem;
  border: 2px solid var(--clr-grey-200);
}

.weak li:first-child,
.weak-2 li:nth-child(-n + 2) {
  background-color: var(--clr-red);
  border: none;
}

.medium li:nth-child(-n + 3) {
  background-color: var(--clr-yellow);
  border: none;
}

.strong li {
  background-color: var(--clr-green);
  border: none;
}

.form-group {
  display: flex;
  align-items: center;
  gap: var(--spg-300);
  --flow-gap: var(--spg-200);
}

label {
  color: var(--clr-grey-200);
  font-size: 1rem;
}

input[type="checkbox"] {
  accent-color: var(--clr-green);
  width: 1.26rem;
  height: 1.25rem;
  outline: 3px solid var(--clr-grey-200);
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:checked {
  outline: 3px solid var(--clr-green);
}


input[type="checkbox"]:not(:checked) {
  appearance: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  cursor: pointer;
  background-color: var(--clr-grey-850);
  accent-color: var(--clr-grey-850);
  width: 100%;
  --flow-gap: var(--spg-100);
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--clr-green);
  height: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background-color: var(--clr-grey-850);
  height: 0.5rem;
}

input[type="range"]::-moz-range-progress {
  background-color: var(--clr-green);
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #E6E5EA;
  margin-top: calc((0.5rem / 2) - (1.75rem / 2));
}

input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--clr-grey-850);
  border: 2px solid var(--clr-green);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  border-radius: 50%;
  background-color: #E6E5EA;
  margin-top: calc((0.5rem / 2) - (1.75rem / 2));
}

input[type="range"]:hover::-moz-range-thumb {
  background-color: var(--clr-grey-850);
  border: 2px solid var(--clr-green);
}

/** Code */

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--clr-grey-600);
  font-size: 1rem;
  font-weight: 700;
}

main {
  color: var(--clr-grey-200);
}

button {
  background-color: var(--clr-green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spg-200) var(--spg-1300);
  gap: var(--spg-200);
  --flow-gap: var(--spg-200);

  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-grey-800);
  width: 100%;
}

button svg {
  width: 0.7rem;
  height: 0.75rem;
  fill: #24232C;
}

button:active,
button:hover {
  background: var(--clr-grey-800);
  color: var(--clr-green);
  border: 2px solid var(--clr-green);
}

button:active svg,
button:hover svg {
  fill: var(--clr-green);
}

.password-container {
  padding: var(--spg-200);
}

.password-text {
  color: var(--clr-grey-700);
  font-size: var(--text-2);
}

.copy-icon {
  cursor: pointer;
}

.copy-password {
  gap: var(--spg-200);
  color: var(--clr-green);
  font-size: var(--text-4);
}

.container {
  background-color: var(--clr-grey-800);
  width: clamp(19.5rem, calc(100vw - (2 * var(--spg-200))), 30rem);
}

form {
  padding: var(--spg-200);
  margin-block-start: var(--spg-200);
}

.password-strength-container {
  background-color: var(--clr-grey-850);
  padding: var(--spg-200);
}

.password-strength-container p:first-child {
  color: var(--clr-grey-600);
  font-size: 1rem;
}

.password-strength {
  gap: var(--spg-200);
}

.password-strength p:first-child {
  color: var(--clr-grey-200);
  font-size: var(--text-3);
}

#password-length {
  color: var(--clr-green);
  font-size: var(--text-3);
}

@media (width > 32rem) {
  .password-container {
    padding: var(--spg-200) var(--spg-400);
  }

  form {
    padding: var(--spg-300) var(--spg-400);
  }

  button {
    --flow-gap: var(--spg-400);
  }
}